@media screen and (max-width: 926px) {
	nav a {
		width: 100%;
	}
	
	h1 {
    font-size: 1.65em;
  }

  .quote {
    box-sizing: border-box;
    visibility: hidden;
    height: 0vh;
  }

  .contentPane {
    box-sizing: border-box;
    padding-top: 1em;
    height: 77vh;
  }
  
  .nav {
      box-sizing: border-box;
      top: 3em;
  }
  .header {
    box-sizing: border-box;
    margin-left: 1em;
    margin-bottom: -.75em;
    font-size: 1.25em;
    height: 10vh;
  }

  .text {
    box-sizing: border-box;
    color: #E5F0F0;
    margin: 2em 2em;
    position: absolute;
    top: 7em;
    overflow: auto;
    height: 74vh;
}
}
    @media (min-width: 926px) {
    .body {
        width: 94%;
        max-width: 1300px;
        margin: 0 auto;
    }
}