body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(assets/Hollowed-Boxes.svg);
    background-color: #373E40;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }